html {
  font-size: 16px;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}
.bg-transparent{
  background-color: transparent;
}
.btn-bg {
  background-color: transparent;
  position: relative;
}
.btn .badge{
  position: absolute;
  top: 0;
  right:-6px;
}
.dropdown-menu {
  min-width: 300px;
}
.bg-img {
  background-image: url("https://images.unsplash.com/photo-1546417492-55f22d6b7d12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80");
  min-height: 500px;
  background-size: cover;
  background-position: center center;
}
.bg-color {
  background-color: rgba(0, 0, 0, 0.65);
}
.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.box-shadow:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.65);
}
.desert{
  background-image: url("https://images.unsplash.com/photo-1506773090264-ac0b07293a64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80");
  background-size: cover;
  background-position: center center;
}
.btn.disabled{
  pointer-events: none;
}
/* 結帳頁面 */
.alert-round{
  border-radius: 25px;
}